*{box-sizing:border-box;}
#comment, #player, #submitComment {
	/*width:600px;*/
	display:block;
}
#comment {
	width:100%;
	height:80px;
	margin-top:5px;
}
#saveNote, #submitComment {
	width:150px;
	display:inline-block;
}
#player {
	width:100%;
	height:100%;
	min-height: 400px;
	padding:10px;
	border:1px solid #ccc;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius:3px;
}
#playerwrapper{
	overflow:auto;
	resize:vertical;
}
.comment {
	padding-top:5px;
	padding-left:5px;
	padding-bottom:0px;
	padding-right:0px;
}
.message {
	padding:5px;
	margin:5px;
}
.editBox {
	width:100%;
}
.active, .inactive:hover{
	transition: opacity .1s;
	opacity:1.0;
}
.inactive{
	transition: opacity .1s;
	opacity:0.3;
}
.replyBox {
	border: 1px solid #999;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	height:30px;
}
.contributions {
	border-left:15px solid #ddd;
}
.infobox{display:inline-block;vertical-align: top;}
.info{display:none;padding:5px;}
.infobox:hover, .infobox:active{
	position:relative;
	z-index:10;
	height:130px;
	overflow-y:auto;
	margin-bottom:-150px;
	width:220px;
	border:1px solid #999;
	text-align: justify;
}
.infobox:hover .info, .infobox:active .info{
	display:inline-block;
	background:#fff;
}
[contenteditable="true"]:hover {
	border-radius:1px;
    box-shadow:0 0 5px #9ecaed;
}
.submitReply, .cancelReply {font-size: 12px;}
#commentsSection{
	font-size:18px!important;
	background:#ddd;
	padding:5px;
	margin:0px;
}
#bookmarks a{text-decoration:none;}
#bookmarks a:hover{color:#ccc;}
#bookmarks a:active{color:#000;}
.removing a {color: #C00;}
.removing a:hover, .removing a:active {
	color:#f00!important;
	text-decoration:line-through!important;
}
div.modify, .reply{
	font-size:12px;
	display:block;
	float:right;
}
div.changeComment {
	font-size:12px;
	display:block;
}
span.reply_info {
	font-size:12px;
	display:block;
	float:left;
}
a.edit, a.reply, a.update, a.cancel {
	color:#999;
	text-decoration: none;
}
a.edit:hover, a.reply:hover, a.update:hover, a.cancel:hover{
	color:#000;
}
a.edit:active, a.reply:active, a.update:active, a.cancel:active{
	color:#C00;
}